<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create Post')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<form th:method="post" th:action="@{/posts/create}" th:object="${createPost}">
  <div class="form-group">
    <input class="form-control" type="text" th:field="*{title}" placeholder="Enter Post Title">
    <input class="form-control" type="text" th:field="*{body}" placeholder="Enter Description">
    <input class="btn btn-primary my-2" type="submit" value="Create Post!">
  </div>
</form>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>

