<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Posts')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="row">
    <div class="col-4">
        <div class="card my-3">
            <div class="card-header">
                <h1 th:text="${post.title}"></h1>
                <h3 th:text="${post.user.email}"></h3>
            </div>
            <div class="card-text">
                <h3 th:text="${post.body}"></h3>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <a class="btn btn-primary btn-sm" th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit
                        Post</a>
                    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="post">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete Post">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>