<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:replace="partials/head :: head('Profile')"></head>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div>Here are your posts: </div>
<div class="card-body" th:each="post : ${post}">
    <h5 th:text="${post.title}" class="card-title"></h5>
    <p th:text="${post.body}" class="card-text"></p>
    <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="btn btn-primary">Edit</a>
    <a th:replace="partials/deletemodal :: modal"></a>

<!--      <a th:href="@{'/posts/' + ${post.id} + '/delete'}" class="btn btn-danger">Delete</a>-->
</div>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>