<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <head th:replace="partials/head :: head('Sign-Up')"></head>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Vertically centered hero sign-up form</h1>
            <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/sign-up}" method="POST" th:object="${user}">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input  class="form-control" id="username" th:field="*{username}" placeholder="user123">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
    </div>
</div>





<!--<form th:action="@{/sign-up}" method="POST" th:object="${user}">-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" th:field="*{username}" />-->
<!---->
<!--    <label for="email">Email</label>-->
<!--    <input id="email" th:field="*{email}" />-->
<!---->
<!--    <label for="password">Password</label>-->
<!--    <input id="password" type="password" th:field="*{password}" />-->
<!---->
<!--    <input value="Sign me up!" type="submit" />-->
<!--</form>-->

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>